- var category = [{id:"/index.html", name:"Каталог игрушек"}]

//- - var category = [{id:"/index.html#cat__world", name:"Познаю мир"}, {id:"/index.html#cat__sport", name:"Спорт и Активность"}, {id:"/index.html#cat__role", name:"Сюжетно-ролевые игры"}, {id:"/index.html#cat__babies", name:"Для самых маленьких"}, {id:"/index.html#cat__new", name:"Новинки"}]

//- {id:"/index.html#cat__main", name:"Каталог"}