// MDL override
.mdl-card
  display: inline-block
  background-color: #fff
  background: url(../img/bg-card.jpg) repeat
  
.mdl-card__supporting-text
  font-size: 1rem

.mdl-card__menu
  position: relative
  right: 0
  top: 35px
  left: 5%

.mdl-card__title-text
  width: 80%
  font-size: 1rem

.mdl-card__title-image
  margin: 0 auto
  width: auto
  max-width: 100%
  height: 10rem
  border-radius: 10px 

// MDL custom
.mdl-card__title-text--information
  padding-top: 3.5rem
  font-size: 1.5rem

// toys-card
.toys-card__availability
  font-size: .9rem
  background-color: #42A5F5  // Google Material Colors: Blue 400
  color: #FFF

.toys-card__availability--isReserved
  background-color: #78909C  // Google Material Colors: Blue Grey 400

.toys-card__price-table
  table-layout: fixed
  width: 100%
  text-align: left
  border-collapse: collapse;
  font-size: .8rem
  td
    padding: .7rem
  td:last-child
    border-right: none
  tr
    // background-color: #ECEFF1
  
.toys-card__price-table--header
  color: rgba(0,0,0,.65)