.cart-table__wrapper
  font-size: 1rem
  padding: .75rem
  
.cart-table
  width: 100%
  // table-layout: fixed
  text-align: left
  border-collapse: collapse;
  td
    padding: .5rem
  tr:nth-child(even)
    background-color: #ECEFF1
  
.cart-table__header
  color: rgba(0,0,0,.65)
  
.cart-table__total
  text-align: right
  padding: 1.5rem !important
  // margin: 1rem
  
.cart 
  position: fixed
  right: 0
  bottom: 0
  margin-right: 2.5%
  margin-bottom: 2%
  z-index: 900
  width: 60px
  height: 60px