
/*  SECTIONS  ============================================================================= */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
  display: block;
  float:left;
  margin: 0 0 2% 2%;
}

// top right bottom left

.bl
  width: 25%
  color: red
  
.bl--full
  width: 98%

// 1
@media only screen and (max-width: 320px)
  .bl
    width: 96%
    color: red
  .col
    margin: 0 2% 5% 2%;

// 2
@media only screen and (min-width: 321px) and (max-width: 900px)
  .bl
    width: 47%
    color: green

// 3
@media only screen and (min-width: 901px) and (max-width: 1200px)
  .bl
    width: 30.5%
    color: blue

// 4
@media only screen and (min-width: 1201px) and (max-width: 1360px)
  .bl
    width: 22.5%
    color: white

// 5
@media only screen and (min-width: 1361px)
  .bl
    width: 17.6%
    color: black
