block vars
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    //- JQuery
    script(src="js/vendor/jquery.min.js")
    //- Material Design Lite
    script(src="js/vendor/material.min.js")
    link(rel="stylesheet" href="css/vendor/material.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css")

    //- Partials
    link(rel="stylesheet" href="css/style.min.css")
    script(src="js/partials/cart.js")
    script.
      var cart;
      $(function(){
          cart = new WICard("cart");
          cart.init("cart-widjet");
        });
    title Сундучок игрушек
  body
    include ../_includes/_incl--flowCart.jade

    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--overlay-drawer-button
      div.mdl-layout__drawer
        nav.mdl-navigation
          a.mdl-navigation__link(href="index.html") Главная страница
        hr
        nav.mdl-navigation
          include ../_includes/_incl--menu.jade
          //- - var links = [{name:"О прокате", url:"about.html"}, {name:"Как сделать заказ", url: "order.html"}, {name:"Условия проката", url:"conditions.html"}, {name:"Гарантия чистоты", url:"guarantee.html"}, {name:"Вопросы и ответы", url:"faq.html"}, {name:"Памятка", url:"notes.html"}, {name:"Контактная информация", url:"contact.html"}]
          each link in links
            a.mdl-navigation__link(href="#{link.url}") #{link.name}
        //- div.mdl-layout-spacer
        //- nav.mdl-navigation
          a.mdl-navigation__link(href="cart.html")
            div#cart-widjet.material-icons.mdl-badge(data-badge="61") shopping_cart
    
      div.mdl-layout__content
        div.mdl-grid
          div.mdl-cell.mdl-cell--2-col
          div.mdl-cell.mdl-cell--8-col.mdl-card.mdl-shadow--2dp
            div.mdl-card__title.mdl-card__title--information
              h2.mdl-card__title-text #{title}
            div.mdl-card__supporting-text
              block article

      //- footer
      //- include ../_includes/_incl--footer.jade