extends ./_templates/_tpl--page.jade

block vars
  - var title = "О прокате"

block article
  .article
    :markdown
      ----

      #####Зачем покупать? ВОЗЬМИ НАПРОКАТ!
      - Прокат дает возможность сэкономить значительную часть семейного бюджета и при этом дать своему малышу всё самое лучшее.
      - Прокат – лучшее решение, если Вы решили приобрести игрушку, но не уверены, что она будет востребована ребенком.
      - Игрушки обновляются по мере интересов и взросления ребенка.
      - Вы сможете сократить количество игрушек, хранящихся дома и не требующихся для игры.
      - Лучшие мировые бренды.
      - Экономия Вашего времени и денег.
      - 100% гарантия чистоты. 
      - Аренда для детских праздников.