doctype basic
html
  head
    meta(charset="utf-8")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    //- JQuery
    script(src="js/vendor/jquery.min.js")
    //- Material Design Lite
    script(src="js/vendor/material.min.js")
    link(rel="stylesheet" href="css/vendor/material.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css")
    //- Partials
    link(rel="stylesheet" href="css/style.min.css")
    script(src="js/partials/cart.js")

    script.
      function formSubmit() {
        var scriptFilePath = 'scripts/mailSender.php';
        $('#fOrderReservation').on('submit', function () {
          var msg  = $("#userContact").val();
          if ((msg === '') || (msg === 'Спасибо, мы вам перезвоним!')) {
            alert("Введите контактные данные, пожалуйста.");
            return false;
          }
          var cartItems = cart.getItems();
          $.ajax({
            type: 'POST',
            url: scriptFilePath,
            data: $(this).serialize() + '&formBody=Имя и контактные данные: ' + msg + '\n\nЗАКАЗ\n' + cartItems,
            success: function (answer) {
              $('#userContact').val(answer);
            }
          });
          return false;
        });
      }

      var cart;

      $(function(){
          cart = new WICard("cart");
          cart.init("cart-widjet");
          cart.renderBasketTable();
          formSubmit();
        });

    title Сундучок игрушек
  body
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--overlay-drawer-button
      div.mdl-layout__drawer
        nav.mdl-navigation
          a.mdl-navigation__link(href="index.html") Главная страница
        hr
        nav.mdl-navigation
          include ./_includes/_incl--menu.jade
          each link in links
            a.mdl-navigation__link(href="#{link.url}") #{link.name}
        
        //- nav.mdl-navigation
          - var links2 = [{name:"Категория 1", url:"#cat1"}, {name:"Категория 2", url: "#cat2"}, {name:"Категория 3", url:"#cat3"}, {name:"Категория 4", url:"#cat4"}]
          each link in links2
            a.mdl-navigation__link(href="#{link.url}") #{link.name}
        //- div.mdl-layout-spacer
        //- nav.mdl-navigation
          a.mdl-navigation__link(href="cart.html")
            div#cart-widjet.material-icons.mdl-badge(data-badge="61") shopping_cart
    
      div.mdl-layout__content
        div.mdl-grid
          div.mdl-cell.mdl-cell--2-col
          div.mdl-cell.mdl-cell--8-col.mdl-shadow--2dp
            div.mdl-card.mdl-shadow--2dp
              div.mdl-card__title
                h2.mdl-card__title-text
                  |Корзина
              div#popup_cart.mdl-card__supporting-text.mdl-cell.mdl-cell--12-col
                //- |Краткое описание.
              div.mdl-card__actions.mdl-card--border
                form#fOrderReservation
                  div.mdl-textfield.mdl-js-textfield
                    input.mdl-textfield__input(type="text" id="userContact" name="message" required)
                    label.mdl-textfield__label(for="userContact") Ваше имя и телефон
                    span.mdl-textfield__error Не забудьте оставить контактные данные
                    input(type="hidden" name="event" value="sendOrderReservation")
                  button.mdl-button.mdl-js-button.mdl-js-ripple-effect(type="submit") Оформить заказ

        //- footer
        include ./_includes/_incl--footer.jade