doctype html
html
  head
    include ./_includes/_incl--meta.jade

    title Сундучок игрушек
  body
    nav.nav-left.mdl-shadow--4dp
      ul.nav-left__list
        li.nav-left__list-item: a.nav-left__link(href="/") Главная страница
        hr
        include ./_includes/_incl--menu.jade
        each link in links
          li.nav-left__list-item: a.nav-left__link(href="#{link.url}") #{link.name}
      div.nav-left__overlay(onclick="switchLeftMenu()")
      a.nav-left__switcher.mdl-button.mdl-button--fab.mdl-button--colored(onclick="switchLeftMenu()")
        i.material-icons close

    nav.nav-top.mdl-shadow--2dp
      ul.nav-top__list--menu
        li.nav-top__list-item(onclick="switchLeftMenu()")
          a.nav-top__link-icon--menu О компании
      ul.nav-top__list
        li.nav-top__list-item
          a.nav-top__link.nav-top__link--categories(href="/index.html") Каталог игрушек
        include ./_includes/_incl--categoriesOuter.jade
        each val in category
          li.nav-top__list-item
            a.nav-top__link(href="#{val.id}") #{val.name}
    
    div.section.group
      div.col.bl--big.mdl-card.mdl-shadow--2dp
        div.mdl-card__title
          h2.mdl-card__title-text.mdl-card__title-text--information
            |Корзина

        div#popup_cart.cart-table__wrapper
          //- #popup_cart inserts here
        div.mdl-card__actions.mdl-card--border
          form#fOrderReservation
            div.mdl-textfield.mdl-js-textfield
              input.mdl-textfield__input(type="text" id="userContact" name="message" required)
              label.mdl-textfield__label(for="userContact") Ваше имя и телефон
              span.mdl-textfield__error Не забудьте оставить контактные данные
              input(type="hidden" name="event" value="sendOrderReservation")
            button.mdl-button(type="submit") Оформить заказ

    //- footer
    //- include ./_includes/_incl--footer.jade
    
    //- Material Design Lite
    script(src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js")
    
    script.
      var cart;

      $(function(){
          cart = new WICard("cart");
          cart.init("cart-widjet");
          cart.renderBasketTable();
          formSubmit();
        });