extends templates/_tpl--page.jade

block vars
  - var title = "Условия проката"

block article
  .article
    :markdown
      ----

      #####Заключение договора.

      Отношения аренды между Клиентом и Прокатом оформляются Договором проката. Договор аренды оформляется на основании ПАСПОРТА С ПОСТОЯННОЙ РЕГИСТРАЦИЕЙ В САМАРСКОЙ области, в ином случае, Вам придется внести залог в размере оценочной стоимости арендуемой вещи.
      
      #####Передача товара.

      Прокат «СУНДУЧОК ИГРУШЕК» в момент выдачи имущества в присутствии Клиента проверяет исправность, комплектность и внешний вид сдаваемого напрокат имущества, а также знакомит Клиента с правилами эксплуатации имущества либо выдает ему письменные инструкции о пользовании этим имуществом. Сторонами подписывается Договор проката и АКТ ПРИЁМА/ПЕРЕДАЧИ, который является неотъемлемой частью договора и который содержит описание товара, взятого напрокат. После подписания Договора проката претензии к переданному по Договору проката имуществу не принимаются.
           Оплатить стоимость проката можно при заключении договора путем передачи денег на руки работнику Проката или Курьеру

      #####Продление срока аренды товара

      Клиент имеет преимущественное право продления срока аренды товара. Звонить и предупреждать требуется заранее – не менее чем за 1 день до даты окончания срока проката 

      #####Возврат товара в Прокат
      
      Клиент обязан вернуть взятый напрокат товар в том же состоянии, в котором он его получил в пункте проката в момент выдачи. Наличие всех комплектующих обязательно. При возврате товара с Клиентом в обязательном порядке подписывается АКТ ПРИЁМА/ПЕРЕДАЧИ, подтверждающий сдачу товара в пункт проката. Отсутствие подписанного АКТА ПРИЁМА/ПЕРЕДАЧИ означает, что товар находится на руках Клиента. Если игрушка сломана или не возвращена (утеряна, уничтожена, утрачена) клиент обязуется выплатить прокату оценочную стоимость имущества, указанную в договоре за вычетом арендной платы. Возврат предмета проката в некомплекте оценивается как порча прокатного имущества, т.к. теряется комплектность товара, либо Клиент по согласованию с Прокатом доукомплектовывает прокатный товар за свой счет аналогичной деталью.

      #####Мы не несем ответственности за ущерб, который может произойти при использовании прокатного имущества Арендатором!
