extends templates/_tpl--page.jade

block vars
  - var title = "Контактная информация"

block article
  .article
    :markdown
      ----
      
      Вся подробная информация о прокате «Сундучок игрушек» (каталог игрушек, способы заказа и оплаты товара, условия проката) представлена на нашем сайте sunduk на нашей странице «ВКонтакте», группа igrushki naprokat.

      Если после изучения данной информации у вас остались какие-либо вопросы – звоните нам по телефону:  8-987-917-84-02.  
      Мы будем рады ответить на ваши вопросы!

      * Наш адрес электронной почты: sunduchok@mail.ru;
      * Мы в социальных сетях: «ВКонтакте», группа igrushki naprokat.
