extends ./_templates/_tpl--page.jade

block vars
  - var title = "Вопросы и ответы"

block article
  .article
    :markdown
      ----

      ######Предоставляете ли вы услуги по сборке/разборке игрушек?
      Крупногабаритные игрушки, требующие сборки, всегда дополняются инструкцией в бумажном или электронном виде. В случае возникновения необходимости в сборке/разборке товара, Вам необходимо в момент бронирования или заказа доставки сообщить об этом Администратору. Данная услуга оплачивается отдельно – стоимость уточняйте в момент бронирования.

      ######В каком виде нужно возвращать игрушки?  
      Игрушки должны быть возвращены в том же виде, в котором были Вам доставлены. Если игрушка была доставлена в коробке, пожалуйста, не выбрасывайте ее. Если игрушка была доставлена в разобранном виде, убедительная просьба разобрать ее до такого же состояния. Не пытайтесь разобрать игрушки больше, чем они были разобраны в момент получения. Это может привести к поломкам.

      ######Потребуется ли замена батареек в игрушках, арендованных у вас?
      Для полноценного функционирования многих игрушек, представленных в нашем каталоге, необходимы батарейки. В момент комплектации каждого нового заказа мы тестируем игрушки и при необходимости вставляем новые батарейки. Вы можете быть уверены в том, что игрушки предоставляются в рабочем состоянии. В том случае, если в процессе активного или долгого использования батарейки сядут, Вам будет необходимо произвести их замену самостоятельно.

      ######Возможно ли посмотреть игрушки, представленные в каталоге, перед тем как арендовать их?
      В настоящий момент посмотреть игрушки можно только на нашем сайте и группе ВКонтакте (ссылка). Если Вы сомневаетесь, понравится та или иная игрушка Вашему ребенку, то просто арендуйте ее на минимально возможный срок - 1 неделя. Это позволит Вашему малышу познакомиться с игрушкой, а Вам понять проявил ли он к ней интерес достаточный для того, чтобы арендовать ее на более длительный срок.

      ######На какой срок я могу арендовать игрушки? 
      При оформлении заказа на нашем сайте Вы можете выбрать один из двух сроков аренды – неделя, две недели или месяц с возможностью последующей пролонгации. Стоимость аренды зависит от выбранного срока. Обращаем Ваше внимание на то, что неделя - это минимальный срок, на который можно взять игрушки. При необходимости их можно вернуть и раньше, но сумма аренды в данном случае все равно будет равна стоимости аренды за неделю. 

      ######Могу ли я отменить сделанный заказ? 
      Вы можете отменить заказ в любой момент до подписания Договора аренды и акта приема-передачи. Однако, мы убедительно просим сообщать об отмене заказа не менее, чем за 1 день до даты доставки и начала арендного периода! 

      ######Что происходит в случае, если мой ребенок сломал  игрушку?
      Все игрушки, представленные у нас высокого качества и практически не ломаются. Если все же Ваш малыш сломал игрушку, то взимается штраф в размере стоимости ремонта. Если игрушка сломана окончательно и не подлежит восстановлению, Вы должны оплатить полную стоимость игрушки, указанную в договоре, за вычетом уплаченной суммы арендной платы. В любом случае, Ваши потери будут не больше, чем если бы Вы купили эту игрушку в магазине.  
      Возврат предмета проката в некомплекте оценивается как полная порча прокатного имущества т.к. теряется комплектность товара, либо Клиент по согласию с прокатом  доукомплектовывает прокатный товар за свой счет аналогичной деталью.

      ######Что делать, если я потерял деталь от игрушки?
      Возврат предмета проката в некомплекте оценивается как  порча прокатного имущества т.к. теряется комплектность товара, либо Клиент по согласию с прокатом  доукомплектовывает прокатный товар за свой счет аналогичной деталью.  
      В том случае, если Вы найдете потерянную деталь, верните ее нам, и мы вернем Вам деньги, оплаченные за потерю детали.

      ######Что делать, если я потерял игрушку?
      Если Вы потеряли игрушку, у Вас будет время до окончания срока аренды на то, чтобы ее найти. Если игрушка не возвращена по окончании арендного периода, Вы должны возместить стоимость игрушки, указанную в договоре, за вычетом уплаченной суммы арендной платы.

      ######Могу ли я продлить срок аренды игрушки?
      Да, Вы можете продлить срок аренды. Вы можете сообщить о своем намерении самостоятельно за один день до окончания арендного периода, позвонив Администратору или написав письмо на «электронная почта» или личное сообщение «Вконтакте» 

      ######Нужно ли вносить дополнительную плату в случае продления срока аренды?
      Да, в случае необходимости продления срока аренды Вам необходимо оплатить прокат игрушки за дополнительный период. 

      ######Какие формы оплаты предусмотрены в вашем прокате?
      В настоящее время предусмотрена только оплата наличными в момент передачи игрушек. 


