extends templates/_tpl--page.jade

block vars
  - var title = "Гарантия чистоты"

block article
  .article
    :markdown
      ----

      Все игрушки при формировании каждого нового заказа проходят специальную систему очистки.

      #####СТИРКА:

      Мы используем детское мыло.  
      Им обрабатываются гладкие поверхности игрушек:

      * Пластиковые
      * Деревянные
      * Металлические части

      Мы используем детский стиральный порошок.  
      Им мы стираем все мягкие тканевые элементы:
      
      * Развивающие коврики
      * Съемные чехлы
      * Капроновые ремни

      #####КВАРЦЕВАНИЕ:

      Это бактерицидная лампа: ей облучаются все игрушки для дезинфекции. Кварц убивает большинство известных бактерий.

      #####УПАКОВКА:

      Для сохранения 100% чистоты в процессе доставки игрушки заворачиваются в пленку.  
      После получения игрушек Вам остается только снять пленку и начать играть.








