extends templates/_tpl--page.jade

block vars
  - var title = "Памятка"

block article
  .article
    :markdown
      ----

      #####Уважаемые клиенты!  
      Играйте и занимайтесь с ребенком вместе.

      #####Важно!
      Прочитайте все инструкции перед сборкой и использованием товара.  
      В нашем прокате представлены  товары, которые имеют мелкие детали.  
      Соблюдайте технику безопасности.  
      Относитесь бережно к прокатному имуществу!

      * Запрещается использовать имущество не по назначению, так как это может привести к появлению у него внешних и внутренних дефектов.  
      При использовании имущества Арендатор должен соблюдать правила его эксплуатации и не нарушать правил техники безопасности. Если в процессе эксплуатации Арендатором имущество проката  испачкалось, и его внешний вид изменился, то Арендатор обязан принять меры для возврата имущества проката в чистом и опрятном виде.
      * Грязные вещи от Арендаторов не принимаются (за возврат товара в грязном виде Арендатор оплачивает штраф в размере от 300 р.) В случае появления у товара дефектов, возникших в процессе эксплуатации товара Арендатором, последний возвращает товар и оплачивает штраф, идущий на восстановление товара.

