extends ./_templates/_tpl--page.jade

block vars
  - var title = "Как сделать заказ"

block article
  .article
    :markdown
      ----

      #####Чтобы сделать заказ, понравившегося вам товара или игрушки, Вам необходимо:

      1. Выбрать необходимый товар или игрушку из каталога.
      2. Щелкнуть на значок «В корзину».
      3. В форме обратной связи указать Ваши ФИО и номер телефона, либо указать удобный для Вас вид связи (email, sms, либо сообщение Вконтакте). 
      4. После этого Администратор проверит свободна ли данная вещь и обязательно свяжется с Вами.  
         Если понравившийся Вам товар свободен, Администратор бронирует его для Вас (бронь мы держим не более 2 дней, в течение которых товар необходимо забрать, на 3 день товар отдается следующему желающему).  
         Если товар занят, Администратор предложит Вам варианты, либо поставит Вас в очередь и Вы можете быть уверенными, что сможете его получить с момента, когда он освободится.
      5. Забрать товар можно по адресу нашего местонахождения – г. Самара, Советский район, ул. Гагарина, д.113.
      6. Для крупногабаритных игрушек и товаров (батуты, спортивные комплексы, качели и т.д.) существует возможность доставки по указанному Вами адресу и сборки/разборки товара. Стоимость доставки и сборки/разборки не входит в цену проката и оплачивается отдельно. Стоимость доставки по городу составляет 290 руб., стоимость сборки/разборки составляет 190 рублей.
